@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:ital,wght@0,100;1,200;1,300;1,900&family=Oswald:wght@400;500&family=Roboto:ital,wght@1,100;1,400;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url("./img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Roboto', sans-serif;
}


/* HEADER STYLE */
header{
    height: 10vh;
}

.container{
    width: 80%;
    margin: auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
}

.logo img{
    width: 100px;
}

.menu ul{
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu ul a{
    text-decoration: none;
    color: white;
}

.menu li{
    display: inline
}

.menu li img{
    width: 100px;
}

/* END HEADER */



/* SECTIONS STYLEE */

.release{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 24px;
}

.release:hover{
    color: #d168cc;
}

main{
    display: flex;
    gap: 50px;
    height: 90vh;
}

.group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}

.group img{
    width: 200px;
    filter: grayscale();
}

.group img:hover{
    filter: none;
    box-shadow: 1px 2px 37px 0px rgba(252,10,224,0.87);
}


.row1{
    display: flex;
    gap: 10px;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 150px;
}

.about p{
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
}

/* end firts section */


/* second section */
.last-section{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.last-section img{
    width: 600px;
    filter: drop-shadow( 1px 2px 37px rgb(201, 137, 182));
}


.buy-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

form input{
    padding: 8px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #d842d0;
    outline: 0;
}

form input:focus{
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #e61094, #ecf4f7);
  border-image-slice: 1;
}

.send{
    margin-top: 20px;
    border: none;
    background-color: #d842d0;
    padding: 12px;
    color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.send:hover{
    background-color: #d168cc;
    padding: 12px;
    color: black;    
}

/* end second section */


/* footer */

footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

footer img{
    width: 80px;
}